.gamble-container {
    margin-top: 1rem;
    flex-direction: row;
    align-self: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.number-selector-container {
    display: grid;
    margin-top: 2rem;
    width: 55rem;
    height: 26rem;
    grid-template-rows: repeat(5, 4rem);
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    align-content: center;
    justify-content: center;
    background-color: #025464;
    padding: 3rem 3rem;
    border-radius: 1rem;
}

.div-number {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: pointer;
    margin: 5px 5px;
    background-color: #D39B3D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    outline: 1px solid #D39B3D;
    outline-offset: -1px;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}

.div-selected {
    background-color: #E57C23;
}

